.container {
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 500px;
}


.form-login li {
    list-style: none;
    /* margin: auto; */
    text-align: center;

}

form .grid {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}