*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("/img&vid/background-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    
}

nav, ul{display: flex;}

nav{
    justify-content: space-between;
    border-bottom: 2px solid #fff;
}

nav ul{
    list-style: none;
    align-items: center;
}

a{
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    
}

#hobbies{
    border-bottom: 2px solid rgb(0, 0, 0);

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 20px auto;

    
}

ol li{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    
    
}

p{
    width: 700px;
    text-align: justify;
}


